.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  background-color: #f8d7da; /* Reddish background color */
  color: #721c24; /* Dark text color */
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 300px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;

  animation: slide-in 0.5s forwards;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}
.toast.slide-out {
  animation: slide-out 0.5s forwards;
}

.toast-text {
  font-size: 16px;
  color: black;
}

/* Alert Type Classes */

.toast.info {
  background-color: #d1ecf1; /* Light blue */
  color: #0c5460;
  border: 1px solid #bee5eb;
}

.toast.success {
  background-color: #d4edda; /* Light green */
  color: #155724;
  border: 1px solid #c3e6cb;
}

.toast.warning {
  background-color: #fff3cd; /* Light yellow */
  color: #856404;
  border: 1px solid #ffeeba;
}

.toast.error {
  background-color: #f8d7da; /* Light red */
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.dismiss-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.dismiss-button:hover {
  color: #ff5555; /* Change color on hover */
}

@keyframes slide-in {
  0% {
    transform: translateX(50%); /* Start off-screen */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: translateY(0); /* Slide in to final position */
    opacity: 1; /* Fade in */
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0); /* Start from current position */
    opacity: 1; /* Start fully visible */
  }
  100% {
    transform: translateX(50%); /* Slide out */
    opacity: 0; /* Fade out */
  }
}
